<div class="row">
  <div class="col-md-12">
  </div>
</div>
<%= form_for @template, :remote => true do |f| %>
  <div class="row">
    <div class="col-md-6">
      <%= f.label 'Template name' %>
      <%= f.text_field :code,     :class => 'form-control', :placeholder => 'Template name' %>
      <%= f.label :from %>
      <%= f.text_field :from,     :class => 'form-control', :placeholder => 'From' %>
      <%= f.label :reply_to %>
      <%= f.text_field :reply_to, :class => 'form-control', :placeholder => 'Reply To' %>
      <%= f.label :cc, 'CC' %>
      <%= f.text_field :cc,       :class => 'form-control', :placeholder => 'CC' %>
      <%= f.label :subject %>
      <%= f.text_field :subject,  :class => 'form-control', :placeholder => 'Subject' %>
      <br />
      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab-html" data-toggle="tab">HTML</a></li>
          <li><a href="#tab-plain" data-toggle="tab">Plain</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab-html">
            <%= f.text_area :html, :class => 'form-control' %>
          </div>
          <div class="tab-pane" id="tab-plain">
            <%= f.text_area :plain, :class => 'form-control' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <%= f.label :example  %>
      <p>Use the "Try It" button below to use these example/test variables. This is what would be posted from DocDel in a normal operation. </p>
      <%= f.text_area :example, :class => 'form-control' %>
      <%= f.label 'To: (Required when using "Send It" button, but not save-able)' %>
      <%= text_field_tag :to, '', :class => 'form-control' %>
      <br />


    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-4">
      <button id="try-it" class="btn-block btn btn-success">Try It!</button>
    </div>
    <div class="col-md-4">
        <button id="send-it" class="btn-block btn btn-warning">Send It!</button>
        <div id="sent-alert"></div>
    </div>
    <div class="col-md-4">
      <%= f.submit 'Save It!', :confirm => 'Are you sure?', :class => 'btn-block btn btn-danger' %>
      <div id="saved-alert"></div>
    </div>
  </div>
<% end %>
<br />
<div class="row">
  <div class="col-md-12">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">HTML</a></li>
        <li><a href="#tab2" data-toggle="tab">Plain</a></li>
        <li><a href="#tab3" data-toggle="tab">Raw</a></li>
        <li><a href="#tab4" data-toggle="tab">Errors</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
          <div id="html-from"></div>
          <div id="html-subject"></div>
          <iframe id="html-body" src="about:blank" style="border: 1px solid grey; width:99%"></iframe>
        </div>
        <div class="tab-pane" id="tab2">
          <div id="plain-from"></div>
          <div id="plain-subject"></div>
          <pre id="plain-body"></pre>
        </div>
        <div class="tab-pane" id="tab3">
          <pre id="raw"></pre>
        </div>
        <div class="tab-pane" id="tab4" style="border: 1px solid red;">
          <iframe id="errors" src="about:blank" style="border: none; width:99%"></iframe>
        </div>
      </div>
    </div>
    <%= link_to 'Go back', :templates, :class => 'btn btn-primary' %>
    <br />
    <br />
    <br />
    <br />
  </div>
</div>
